---
import Layouts from "../../../src/layouts/layouts.astro";
const posts = await Astro.glob('./post/*.md')
console.log ()
---

<Layouts paginaTitulo ="Comentarios" pageDescripcion="Esta es la seccion para  mis seguidores">
    <h1 class="pagetitle">COMENTARIOS</h1>
    {
        posts.map(post => <a href={post.url} class="link">{post.frontmatter.title}</a>)
    }
<style>
    .link{ 
        background: white;
        color: black;
        text-decoration: none;
        display: block;
        width: 300px;
        margin-bottom: 4px;
        border-radius: 5px;
        box-shadow: 4px 2px 4px 2px #e67d7d, 4px 25px 50px 2px #ffffff;
        padding: 10px;
        width: 150px;
        margin-bottom: 10px;
        text-alignment: center;
    }
</style>

</Layouts>