<section class="bg-zing-900 p-20 w-150 h-min rounded-xl text-center my-4 ">
    <h1 class="text-center text-6xl font-extrabold my-5">Sobre Implusarte</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem corporis hic voluptates molestias omnis repellat iste! Possimus accusamus aliquam perspiciatis.</p>
</section>