<header class="bg-teal-300 flex-col md:flex-row p-20 gap-3 text-center md:text-left rounded-3xl mt-4">
<div>
    <img src="images/me-gusta.png" alt=""  class="w-80">
</div>
<div>
    <h1 class="text-5xl font-bold pb-2">DEJAME TUS COMENTARIOS</h1>
    <p class="my-4 text-2xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, amet?</p>
    <button class="bg-red-500 px-3 py-2 hover:bg-rose-950 border-r-zinc-950">Comenzar</button>
</div>

</header>