<header class="bg-green-300 flex-col md:flex-row p-10 gap-3 text-center md:text-left rounded-3xl mt-4">
<div>
    <img src="images/1.svg" alt=""  class="w-80">
</div>
<div>
    <h1 class="text-5xl font-bold pb-2">DEJAME TUS COMENTARIOS</h1>
    <p class="my-4 text-2xl font-semibold">Quiero conocer tu opinion</p>
    <button class="bg-red-500 px-5 py-4 hover:bg-rose-950 border-r-zinc-950 rounded-xl">Comenzar</button>
</div>
</header>