---
import Layouts from "../layouts/layouts.astro";
import Tarjetas from "../componentes/card.astro";
---
<Layouts paginaTitulo="Servicios">
   <div class="text-center my-5 mx-5">
    <h1 class="text-6xl font-bold my-5">MIS SERVICIOS</h1>
    <p class="text-3xl font-bold my-5">Elige el plan que mas se acomode a tus necesidades</p>
    <div class="columns-2">
        <Tarjetas
            titulo="BRANDING"
            ,
            contenido="Acá vamos a darle vida e identidad a tu marca"
        />
        <Tarjetas
            titulo="REDES SOCIALES"
            ,
            contenido="Acá vamos a darle vida a tus redes sociales"
        />
        <Tarjetas
            titulo="DISEÑO"
            ,
            contenido="Acá vamos a darle vida a cualquier idea que provenga de tu imaginación"
        />
        <Tarjetas
        titulo="PERSONALIZADO"
        ,
        contenido="Escoje tu servicio y tu presupuesto"
    />
    </div>
   </div>
</Layouts>