<footer class ="bg-black py-10 gap-5 mt-4">
    <div class="container mx-auto flex flex-col md:flex-row justify-evenly text-center md:text-left">
        <div>
            <h4 class="font-bold text-xl">Site Map</h4>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/pricing">Pricing</a>
        </div>
        <div>
            <h4 class="font-bold text-xl">Site Map</h4>
            <p>Lorem, ipsum.</p>
            <p>Lorem, ipsum.</p>
            <p>Lorem, ipsum.</p>
        </div>
        <div>
            <h4 class="font-bold text-xl">Social Links</h4>
            <a href="/">Instagram</a>
            <a href="/">Tiktok</a>
        </div>
    </div>
</footer>