<footer class ="top-3/4 flex-col px-5 flex items-center bottom-0 w-screen z-10 text-black justify-end ">
    <div class="flex gap-80 basis-0 p-5 md:p-2">
    <nav>
        <ul class="text-sm [&>li>a]:transition-colors [&>li>a]:duration-500 [&>li>a]:text-current [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-0">
            <h4 class="font-bold text-xl">Site Map</h4>
            <li><a href="paquetes">Paquetes</a></li>
            <li><a href="portafolio">Portafolio</a></li>
        </ul >
    </nav>
    <nav>
        <ul class="text-sm [&>li>a]:transition-colors [&>li>a]:duration-500 [&>li>a]:text-current [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-0 ">
            <h4 class="font-bold text-xl">Social Links</h4>
            <li><a href="https://www.instagram.com/implusarte">Instagram</a></li>
            <li><a href="https://www.tiktok.com/@implusarte">Tiktok</a></li>
        </ul>
    </nav>
</div>
</footer>