---
import Footer from '../componentes/footer.astro'
import LandingHeader from '../componentes/landing/LandingHeader.astro';
import Logo from '../componentes/landing/logo.astro';
import avion from '../../public/images/avion.png'
interface Props{ 
    paginaTitulo?:string
    pageDescripcion?: string

}
const {paginaTitulo, pageDescripcion} = Astro.props

---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="descripcion" content="Esta pagina web es para los amantes del diseño y quieren impulsar sus redes sociales">
    <title>ImplusArte | {paginaTitulo} </title>
    <link rel="icon" href={avion}>
</head>
<body>
   <main>
    <slot/>
   </main>
   <Footer/>
   <style>
	body{
		background: #F3F0EF;
		color:#795655;
	}
	.tittle{
		color: indianred;
	}
    .buttom {
        background: #ffffff56;
        border-radius: 15px;
        box-shadow: 0 2px 4px 0 #e67d7d, 0 25px 50px 0 #ff7bde;
        padding: 5px;
        width: 150px;
        margin-bottom: 10px;
    }
    </style>
</body>
</html>